body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 2.0;
  color: #333;
  background-color: #f4f4f4;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
h1, h2 {
  color: #2c3e50;
}
.phonetic {
  font-style: italic;
  color: #2e4053;
  margin-bottom: 15px;
}
audio {
  margin-bottom: 20px;
  width: 40%;
}
.accordion-button {
  background-color: #ecf0f1;
  color: #2c3e50;
  font-weight: bold;
}
.accordion-button:not(.collapsed) {
  background-color: #3498db;
  color: #fff;
}
.definitions {
  padding-left: 20px;
}

.definitions li {
  margin-bottom: 15px;
}
.example {
  color: #626567;
  font-style: italic;
  margin-top: 5px;
  margin-left: 20px;
}
.synonyms, .antonyms {
  margin-top: 10px;
  font-style: italic;
}
.synonyms {
  color: #27ae60;
}
.antonyms {
  color: #d35400;
}
.origin {
  font-style: italic;
  color: #34495e;
  margin-bottom: 20px;
}



